* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

body {
    background: #2e3440;
    margin: 30px;
}

li {
    padding: 20px;
}

ul {
    list-style-type: none;
}

a {
    color: #ffffff;
    padding: 10px;
}

h2 {
    color: #88c0d0;
    font-size: 40px;
}

h3 {
    color: #b48ead;
    font-size: 30px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-container {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background: #000000;
}

.links-container {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: row;
}

.link:hover {
    background-color: #81a1c1;
    border-radius: 10px;
}

.website-name {
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: Iosevka Nerd Font;
    font-size: 30px;
    color: #ffffff;
}

.heading-container {
    display: flex;
}

.bullet {
    color: #81a1c1;
    font-size: 30px;
    height: 30px;
    padding-top: 100px;
}

.about-heading {
    padding-left: 30px;
    padding-top: 100px;
    padding-bottom: 20px;
}

.about-section {
    padding: 50px 50px 50px 50px;
}

.one {
    color: #B48EAD;
}

.paragraph {
    color: #ffffff;
    font-size: 30px;
}

.linux-section {
    padding: 50px 50px 50px 50px;
}

.projects-heading {
    padding-bottom: 20px;
}
.two {
    padding-top: 7px;
    color: #EBCB8B;
}

.why-linux {
    padding-left: 30px;
}

.subheading-container {
    display: flex;
}

.blogs-section {
    padding: 50px 50px 50px 50px;
}

.three {
    padding-top: 7px;
    color: #A3BE8C;
}

.blog-posts {
    padding-left: 30px;
    padding-bottom: 20px;
}

.blog-bullet {
    color: #B48EAD;
    font-size: 50px;
    padding-top: 20px;
    padding-left: 55px;
}

.blog-title {
    background-color: #2e3440;
    font-size: 30px;
    cursor: pointer;
    color: #A3BE8C;
}

.blog-item {
    display: flex;
}

.publish-date {
    font-size: 30px;
    color: #ffffff;
    padding-top: 40px;
}

.list-item {
    display: flex;
}

.four {
    padding-top: 7px;
    padding-left: 45px;
}

.contact-heading {
    padding-left: 30px;
    padding-bottom: 20px;
}

.contact-subheading {
    padding-left: 50px;
}

.cib-discord {
    color: #81a1c1;
    font-size: 50px;
    padding-left: 70px;
}

.contact-text {
    color: #ffffff;
    font-size: 30px;
    padding-left: 30px;
    padding-top: 10px;
}

.cib-gitlab {
    color: #D08770;
    font-size: 50px;
    padding-left: 70px;
}

.gitlab-link {
    text-decoration: none;
}

.gitlab-link:hover {
    color: #A3BE8C;
}

.cib-mastodon {
    color: #B48EAD;
    font-size: 50px;
    padding-left: 70px;
}

