* {
    margin: 0;
    padding: 0;
    font: Helvetica, sans-serif;
}

body {
    background: #2e3440; 
}

li {
    padding: 20px;
}

ul {
    list-style-type: none;
}

p {
    color: #ffffff;
    font-size: 30px;
    padding-bottom: 20px;
}

a {
    color: #ffffff;
    padding: 10px;
}

.nav-container {
    position: absolute;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    background: #000000;
}

.links-container {
    position: absolute;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: row;
}

.link:hover {
    background-color: #81a1c1;
    border-radius: 10px;
}

.website-name {
    position: absolute;
    top: 30px;
    left: 30px;
    font-family: Iosevka Nerd Font;
    font-size: 30px;
    color: #ffffff;
}

.container {
    padding: 100px;
}

.heading-container {
    display: flex;
    padding-top: 50px;
}

.bullet {
    color: #b48ead;
    font-size: 50px;
    padding-top: 10px;

}

.heading {
    font-size: 50px;
    font-weight: bold;
    color: #81a1c1;
    padding-top: 10px;
    padding-left: 10px;
}

.list-item {
    display: flex;
}

.bullet-list {
    font-size: 50px;
    color: #88c0d0;
    padding-left: 60px;
}

.blog-link {
    font-size: 30px;
    padding-left: 15px;
}

.blog-link:hover {
    color: #A3BE8C;
}

.footer {
    color: #BF616a;
    padding-left: 80px;
}
